<%= form_with(model: employment, local: true) do |form| %>
  <% if employment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employment.errors.count, "error") %> prohibited this employment from being saved:</h2>

      <ul>
        <% employment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if employment.doctor == nil %>
    <div class="form-group">
      <%= form.label :doctor_id %>
      <% doctor_array = Doctor.all.select{|d| d.hospital == nil}.map{|d| [d.name, d.id]} %>
      <%= form.select :doctor_id, options_for_select(doctor_array), {}, {class: 'custom-select', style:'width:200px;display:inherit;'} %>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :doctor_id %>
      <div class="form-control"><%= employment.doctor.name %></div>
      <% form.hidden_field :doctor_id %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :hospital_id %>
    <% hospital_array = Hospital.all.map{|h| [h.name, h.id]} %>
    <% hospital_selected = employment.hospital != nil ? employment.hospital.id : nil %>
    <%= form.select :hospital_id, options_for_select(hospital_array, hospital_selected), {}, {class: 'custom-select', style:'width:200px;display:inherit;'} %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary mb-2' %>
  </div>
<% end %>
