<%= form_with(model: scheduled_appointment, local: true) do |form| %>
  <% if scheduled_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scheduled_appointment.errors.count, "error") %> prohibited this scheduled_appointment from being saved:</h2>

      <ul>
        <% scheduled_appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if scheduled_appointment.schedule_id == nil %>
    <div class="form-group">
      <%= form.label :schedule_id %>
      <% schedule_array = Schedule.all.map{|s| ["#{s.start_time.strftime('%D %T')} - #{s.end_time.strftime('%D %T')} (#{s.doctor.name})", s.id]} %>
      <%= form.select :schedule_id, options_for_select(schedule_array), {}, {class: 'custom-select', style:'width:800px;display:inherit;'} %>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :schedule_id %>
      <div class="form-control"><%= "#{scheduled_appointment.schedule.start_time.strftime('%D %T')}-#{scheduled_appointment.schedule.end_time.strftime('%D %T')}" %></div>
      <% form.hidden_field :schedule_id %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :patient_id %>
    <% patient_array = Patient.all.map{|d| [d.name, d.id]} %>
    <%= form.select :patient_id, options_for_select(patient_array), {}, {class: 'custom-select', style:'width:200px;display:inherit;'} %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary mb-2' %>
  </div>
<% end %>
