<h1>Scheduled Appointments</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="colspan">Schedule</th>
      <th scope="colspan">Doctor</th>
      <th scope="colspan">Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scheduled_appointments.each do |scheduled_appointment| %>
      <tr>
        <td><%= scheduled_appointment.schedule.start_time.strftime('%D %T') %> - <%= scheduled_appointment.schedule.end_time.strftime('%D %T') %></td>
        <td><%= scheduled_appointment.schedule.doctor.name %></td>
        <td><%= scheduled_appointment.patient.name %></td>
        <td><%= link_to 'Show', scheduled_appointment %></td>
        <td><%= link_to 'Edit', edit_scheduled_appointment_path(scheduled_appointment) %></td>
        <td><%= link_to 'Destroy', scheduled_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduled Appointment', new_scheduled_appointment_path %>
