<h1>Doctor Shifts</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Doctor</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_shifts.each do |doctor_shift| %>
      <tr>
        <td><%= doctor_shift.doctor.name %></td>
        <td><%= doctor_shift.start_hour.to_s.rjust(2,'0') %>:<%= doctor_shift.start_min.to_s.rjust(2,'0') %></td>
        <td><%= doctor_shift.end_hour.to_s.rjust(2,'0') %>:<%= doctor_shift.end_min.to_s.rjust(2,'0') %></td>
        <td><%= link_to 'Show', doctor_shift %></td>
        <td><%= link_to 'Edit', edit_doctor_shift_path(doctor_shift) %></td>
        <td><%= link_to 'Destroy', doctor_shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor Shift', new_doctor_shift_path %>
