<p>
  <strong>Doctor:</strong>
  <%= @doctor_shift.doctor.name %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @doctor_shift.start_hour.to_s.rjust(2,'0') %>:<%= @doctor_shift.start_min.to_s.rjust(2,'0') %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @doctor_shift.end_hour.to_s.rjust(2,'0') %>:<%= @doctor_shift.end_min.to_s.rjust(2,'0') %>
</p>

<%= link_to 'Edit', edit_doctor_shift_path(@doctor_shift) %> |
<%= link_to 'Back', doctor_shifts_path %>
