<!DOCTYPE html>
<html>
  <head>
    <title>Doktermana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <style>
        .alert { color: red; }
        .notice { color: blue; }
        .success { color: green; }
    </style>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash alert alert-info <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <%= render "layouts/sidebar" %>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

